.classpath.xml
.factorypath.txt
.metadata
.idea/
.settings/
target/
.git/
.classpath
.DS_Store
.factorypath
CHANGELOG.md
LICENSE.md
LICENSE_HEADER.txt
README.md
**/logs
*.iml
.project
development.md
.factorypath
/.apt_generated/
catalog/


